@extends('front.master')
@section('content')

 5555555

  <main class="page-content">
    <section class="section-35 section-sm-50">
        <div class="shell">
          <h3>Image Right</h3>
          <div class="range range-sm-reverse range-md-justify offset-top-30 offset-sm-top-40">
            <div class="cell-sm-6">
              <figure><img src="images/570x386.jpg" alt="" width="570" height="386"/> </figure>
            </div>
            <div class="cell-sm-6 offset-top-30 offset-sm-top-0">
              <div class="inset-md-right-40 inset-lg-right-85 text-gray-darker">
                <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company.</p>
                <p>Our site design and navigation has been thoroughly thought out. The layout is aesthetically appealing, contains concise texts in order not to take your precious time. Text styling allows scanning the pages quickly. Site navigation is extremely intuitive and user-friendly. You will always know where you are now and will be able to skip from one page to another with a single mouse click. We use only trusted, verified content, so you can believe every word we are saying. We are always happy to greet the new visitors on our site.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-40 section-sm-bottom-100 section-lg-bottom-165">
        <div class="shell">
          <h3>Image Left</h3>
          <div class="range range-md-justify offset-top-30 offset-sm-top-40">
            <div class="cell-sm-6">
              <figure><img src="images/570x386.jpg" alt="" width="570" height="386"/> </figure>
            </div>
            <div class="cell-sm-6 offset-top-30 offset-sm-top-0">
              <div class="inset-md-left-40 inset-lg-left-70 text-gray-darker">
                <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company.</p>
                <p>Our site design and navigation has been thoroughly thought out. The layout is aesthetically appealing, contains concise texts in order not to take your precious time. Text styling allows scanning the pages quickly. Site navigation is extremely intuitive and user-friendly. You will always know where you are now and will be able to skip from one page to another with a single mouse click. We use only trusted, verified content, so you can believe every word we are saying. We are always happy to greet the new visitors on our site.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
  </main>
    
@endsection